.categories-section {
  width: 100%;
  height: 500px;
}
.categories-section .categories-row {
  position: relative;
  width: 1300px;
  height: 450px;
  left: 100px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.categories-section .categories-row .content-section {
  margin-top: 50px;
}

.categories-section .categories-row .content-section .title-one {
  margin-top: 15px;
  color: #db4444;
  border-left: 10px solid #db4444;
  border-radius: 2px;
  padding-left: 10px;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
}
.categories-section .categories-row .content-section .title-two {
  font-size: 26px;
  font-family: Poppins;
  font-weight: 600;
  margin-top: 20px;
}

.categories-section .categories-row .categories-tab {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.categories-section .categories-row .categories-tab .category {
  width: 180px;
  height: 180px;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  margin-right: 40px;
  text-align: center;
}

.categories-section .categories-row .categories-tab .category:hover {
  background-color: #db4444;
  color: white;
  opacity: 1;
}

.categories-section .categories-row .categories-tab .category .icon {
  position: relative;
  top: 60px;
  font-size: 40px;
  font-weight: 300;
  opacity: 0.85;
}

.categories-section .categories-row .categories-tab .category p {
  position: relative;
  top: 80px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
